
<h2>Editare categorie</h2>

<form method="post" action="/Categories/Edit/@ViewBag.Categories.CategoryId">

    <label>Denumire categorie</label>

    <br />

    <input type="text" name="CategoryName" value="@ViewBag.Categories.CategoryName" />
    
    <button type="submit">Modifica categoria</button>

</form>

