<h2>Afisare categorii</h2>
<br />

@foreach (var categ in ViewBag.Categories)
{
    <p>@categ.Name</p>
   
    <br />
    <a href="/Categories/Show/@categ.CategoryId">Afisare categorie</a>
    <br />
    <a href="/Categories/Edit/@categ.CategoryId">Editare categorie</a>
    <hr />

}

<a href="/Categories/New">Adaugare categorie</a>
<br />

<a href="/Articles/Index">Afisare articole</a>
