<h2>Formular adaugare categorie</h2>

<form method="post" action="/Categories/New">

    <label>Denumire categorie</label>

    <input type="text" name="CategoryName" />

    <br />

    <button type="submit">Adauga categoria</button>

</form>
