@using Modeltest2021.Models

@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<br />
<h2>Afisare carduri</h2>
<br />

@* Motorul de cautare *@
<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

@foreach (GiftCard card in ViewBag.cards)
{
    <div class="card">

        @Html.Partial("GiftCardInfo", card )


        <a class="btn btn-success" href="/GiftCards/Show/@card.Id">Afisare card</a>

    </div>

    <br />
    <br />
}
