<h2>Formular adaugare articol</h2>

<form method="post" action="/Articles/New">

    <label>Titlu articol</label>

    <input type="text" name="Title" />

    <br />

    <label>Continut articol</label>

    <textarea name="Content"></textarea>

    <br />

    <input type="hidden" name="Date" value="@DateTime.Now" />

    <br />

    <button type="submit">Adauga articolul</button>

</form>
