@{
    ViewBag.Title = "Lista domenii";
}

<h2>@ViewBag.Title</h2>
<br />

<br />
<br />

@foreach (var domain in ViewBag.Domains)
{
    <p>@domain.DomainName</p>
    <a class="btn alert-success" href="/Domains/Show/@domain.Id">Afisare domeniu</a>
    <a class="btn alert-success" href="/Domains/Edit/@domain.Id">Editare domeniu</a>
    <br />
    <hr />
    <br />
}
<br />
<a class="btn btn-success" href="/Domains/New">Adauga un nou domeniu</a>
<br />

